PORT=5000



DATABASE_URL="mongodb+srv://USER:PASS@cluster.mongodb.net/dbname?appName=YourApp"
PASSWORD_SALT=10

#smtp credentials
SMTP_HOST="smtp.example.com"
SMTP_PORT=465
SMTP_USER="noreply@example.com"
SMTP_PASS="your-smtp-password"
SMTP_FROM="Your App <noreply@example.com>"

#jwt secret
JWT_SECRET="your-jwt-secret-minimum-64-characters-long-random-string-here"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-minimum-64-characters-long-random-string-here"
JWT_REFRESH_EXPIRES_IN="7d"

#admin email and password
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="YourStrongAdminPassword"

#design process
DESIGN_REQUEST_NOTIFICATION_EMAIL="notify@example.com"

ADMIN_EMAIL_CONTACT="contact@example.com"

NODE_ENV="production"

#mollie api key (use test_ for development, live_ for production)
MOLLIE_API_KEY="test_xxxxxxxxxxxxxxxxxxxxxxxxxx"

#base-url
BASE_URL="https://api.yourdomain.com"

#frontend_url
CLIENT_URL="https://yourdomain.com"

#s3 bucket
S3_ENDPOINT=https://your-s3-endpoint.com/api/v1/service-account-credentials
S3_ACCESS_KEY_ID=YOUR_S3_ACCESS_KEY_ID
S3_SECRET_ACCESS_KEY=YOUR_S3_SECRET_ACCESS_KEY
S3_BUCKET_NAME=your-bucket-name
S3_REGION=eu-north-1

#chatbot upstream
CHATBOT_UPSTREAM_BASE_URL="https://ai.yourdomain.com"
CHATBOT_UPSTREAM_ASK_PATH="/api/chatbot/ask"
CHATBOT_UPSTREAM_STREAM_PATH="/api/chatbot/ask/stream"

QLS_BASE_URL=https://api.pakketdienstqls.nl
QLS_USERNAME=your-qls-username
QLS_PASSWORD=your-qls-password
QLS_COMPANY_ID=your-company-id
QLS_BRAND_ID=your-brand-id
QLS_DEFAULT_COUNTRY=NL
QLS_DEFAULT_PRODUCT_COMBINATION_ID=3
QLS_DHL_PRODUCT_COMBINATION_ID=3
QLS_DRAGONFLY_PRODUCT_COMBINATION_ID=259
QLS_DPD_PRODUCT_COMBINATION_ID=115
QLS_POSTNL_PRODUCT_COMBINATION_ID=79

#webwinkelkeur credentials
WEBWINKELKEUR_SHOP_ID="your-shop-id"
WEBWINKELKEUR_API_KEY="your-api-key"

# Firebase Credentials
FIREBASE_PROJECT_ID="your-firebase-project-id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk@your-project.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
