PORT=3000
DATABASE_URL=
BASE_URL=http://localhost:3000
CLIENT_URL=http://localhost:3000
NODE_ENV=development

QLS_BASE_URL=https://api.pakketdienstqls.nl
QLS_USERNAME=
QLS_PASSWORD=
QLS_COMPANY_ID=
QLS_BRAND_ID=
QLS_DEFAULT_PRODUCT_COMBINATION_ID=
QLS_DEFAULT_WEIGHT_GRAM=1000
QLS_DEFAULT_COUNTRY=NL
QLS_WEBHOOK_SECRET=
